{{ form_start(form, {
    'action': path('Front_Submission_edit', {'idSubmission': submission.idSubmission}),
    'attr': {'class': 'edit-form'}
}) }}
    <h3>Edit Submission #{{ submission.idSubmission }}</h3>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.vinCode) }}
        {{ form_widget(form.vinCode, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.vinCode) }}
    </div>

    <div class="form-group">
        {{ form_label(form.idUser) }}
        {{ form_widget(form.idUser, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.idUser) }}
    </div>

    <div class="form-group">
        {{ form_label(form.preferredContactMethod) }}
        {{ form_widget(form.preferredContactMethod, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.preferredContactMethod) }}
    </div>

    <div class="form-group">
        {{ form_label(form.preferredAppointmentDate) }}
        {{ form_widget(form.preferredAppointmentDate, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.preferredAppointmentDate) }}
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-secondary" onclick="closeEditModal()">Cancel</button>
    </div>
{{ form_end(form) }}