
{% block title %}Edit Submission{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/edit_submission.css') }}">
{% endblock %}

{% block submission %}
    <h1>Edit Submission</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
    {{ include('frontend/submission/_edit_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_Fsubmission_index') }}">back to list</a>

    {{ include('frontend/submission/_delete_form.html.twig') }}
    {{ form_errors(form.description) }}
    {{ form_errors(form.vinCode) }}
    {{ form_errors(form.vinCode) }}
    {{ form_errors(form.idUser) }}
    {{ form_errors(form.preferredContactMethod) }}
    {{ form_errors(form.preferredAppointmentDate) }}
    {{ form_end(form) }}
{% endblock %}
