{% extends 'frontend/baseFront.html.twig' %}

{% block title %}New Submission{% endblock %}


{% block content %}
    <h1>Create new Submission</h1>

    {{ form_errors(form) }}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
    {{ include('frontend/submission/_form.html.twig') }}

    <a href="{{ path('app_Fsubmission_index') }}">back to list</a>
    {{ form_end(form) }}
{% endblock %}
