{% for response in responses %}
    <tr>
        <td>{{ response.idResponse }}</td>
        <td class="text-truncate" title="{{ response.message }}">{{ response.message }}</td>
        <td>{{ response.dateResponse ? response.dateResponse|date('Y-m-d H:i:s') : '' }}</td>
        <td>
            <span class="badge {% if response.typeResponse == 'ACKNOWLEDGMENT' %}badge-primary{% elseif response.typeResponse == 'RESOLUTION' %}badge-info{% else %}badge-secondary{% endif %}">
                {{ response.typeResponse }}
            </span>
        </td>
        <td>{{ response.idUser }}</td>
        <td>{{ response.idSubmission }}</td>
        <td>
            <div class="btn-group btn-group-sm">
                <a href="{{ path('app_response_show', {'idResponse': response.idResponse}) }}" 
                   class="btn btn-info" 
                   title="Show Details">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="14" height="14" fill="currentColor">
                        <path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/>
                    </svg>
                </a>
                <a href="{{ path('app_response_edit', {'idResponse': response.idResponse}) }}" 
                   class="btn btn-warning" 
                   title="Edit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="14" height="14" fill="currentColor">
                        <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"/>
                    </svg>
                </a>
                <a href="#" 
                   class="btn btn-danger" 
                   title="Delete" 
                   onclick="return confirm('Are you sure?') ? document.getElementById('delete-form-{{ response.idResponse }}').submit() : false">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="14" height="14" fill="currentColor">
                        <path d="M135.2 17.7C140.4 7.4 150.7 0 162.3 0H285.7c11.6 0 21.9 7.4 27.1 17.7L336 32H432c8.8 0 16 7.2 16 16s-7.2 16-16 16H416l-21.2 339.3c-1.6 25.4-22.7 44.7-48.1 44.7H101.3c-25.4 0-46.5-19.3-48.1-44.7L32 64H16C7.2 64 0 56.8 0 48s7.2-16 16-16H112L135.2 17.7zM160 96c-8.8 0-16 7.2-16 16v288c0 8.8 7.2 16 16 16s16-7.2 16-16V112c0-8.8-7.2-16-16-16zm128 0c-8.8 0-16 7.2-16 16v288c0 8.8 7.2 16 16 16s16-7.2 16-16V112c0-8.8-7.2-16-16-16z"/>
                    </svg>
                </a>
                <form id="delete-form-{{ response.idResponse }}" 
                      action="{{ path('app_response_delete', {'idResponse': response.idResponse}) }}" 
                      method="post" 
                      style="display: none;">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ response.idResponse) }}">
                </form>
            </div>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="7" class="text-center text-muted py-3">No responses found</td>
    </tr>
{% endfor %} 